@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --color-bg: #0a0f14; */
  --color-bg: #1B445A;
  --color-surface: #0f1a23;
  --color-surface-light: #162330;
  --color-text: #f0eeea;
  --color-text-secondary: #8fa3b0;
  --color-border: #1e3040;

  --color-primary: #215773;
  --color-primary-dark: #163a4f;
  --color-gold: #c9a227;
  --color-gold-light: #e0bc4a;
  --color-sand: #f4ebd0;

  --font-display: var(--font-cinzel);
  --font-body: var(--font-poppins);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}